.skill-table-data {
    text-align: left;
    padding: 0 10px;
}

.skill-table{
    height: 100%;
    font-size: 1rem;
    overflow-y: scroll;
}

.skill-table-dark{
    background: rgba(0,0,0,0.5);
}

.skill-table-row:nth-of-type(even){
    background: rgba(0,0,0,0.5);
}